body
{
	background-color: 2d2d2d;
	font-family: 'Open Sans', serif;
	color: dcdcdc;
}

@font-face 
{
	font-family: "Open Sans";
	src: url("../static/OpenSans-Regular.ttf") format("truetype");
}

.title
{
	display: table;
	margin-left: auto;
    margin-right: auto;
    font-size: 120px;
    margin-bottom: 0px;
    margin-top: 50px;
    /*letter-spacing: 5px;*/
	text-shadow: 0px 3px 6px rgba(0,0,0,1);
}

.uconn
{
	color: rgba(219,87,5,1);
	font-weight: bold;
	text-decoration: none;
}

.description
{
	text-align: center;
	margin-top: 0px;
	width: 50%;
	margin-left: auto;
    margin-right: auto;
}

button::-moz-focus-inner { border: 0; }

.button
{
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	
	display: table;
	
	cursor: pointer;
	border: 0px;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-size: 1em;
    padding:4px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 0px 5px 0px rgba(219,31,5,1), 0px 9px 12px rgba(0,0,0,1);
	text-align: center;
}

.button:active 
{
    box-shadow: 0px 2px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,1);
    position: relative;
    top: 3px;
}

.button:focus 
{
    border: none;
    outline: none;
}
