<html>
<head>
	<script type="text/javascript" src="../static/d3.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/main.css">
	<!--<link rel="stylesheet" type='text/css' href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,300">-->
</head>

<body onload = "main()">
	<p class="title">Darweb</p>
	<p class="description"> 
		Welcome to Darweb!
		<br><br>Adapted from <a href="http://darwin.eeb.uconn.edu/simulations/simulations.html" class = "uconn">HERE</a> 
		for a newer web, Darweb is designed as a tool for students enrolled in the University of Georgia's GENE 3000 course.
		<br><br>Begin by choosing a simulation you are interested in studying.
	</p>
	
	 <a href="./natural-selection" class = "button">Natural Selection</a>
	 <a href="./genetic-drift" class = "button">Genetic Drift</a>
	 <a href="./mean-fitness" class = "button">Mean Fitness</a>
	 <a href="./selection-drift" class = "button">Natural Selection and Genetic Drift</a> 
	 <!--<a href="./drift-mutation" class = "button">Genetic Drift and Mutation</a> 
	 <a href="./drift-migration" class = "button">Genetic Drift and Migration</a>-->
</body>
</html>
